groq_api_key = "your_groq_api_key_here"
LANGSMITH_TRACING="true/false"
LANGSMITH_API_KEY="..."

AWS_ACCESS_KEY_ID="key here"
AWS_SECRET_ACCESS_KEY="key here"
AWS_SESSION_TOKEN="your_aws_session_token_here"